<h1>
  Welcome to {{title}}!
</h1>
<authors></authors>
<app-favorite></app-favorite>
<app-titlecasing></app-titlecasing>
<app-likes [likesCount]="10" [isActive]="tweet.isActive"></app-likes>

<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
<zippy title="Billing Details">
  Billing Details Content
</zippy>

<zippy [title]="zippy1.title">
  Shipping Details Content
</zippy>
<zippy [title]="zippy2.title">
  Billing Details Content
</zippy>

<br />
<br />
<br />
<br />

<udemy-course></udemy-course>